
.admin{
  display: block;
}
.vista-admin .link-back{
    text-decoration: none;
    transition: all 300ms;
}

.vista-admin .link-back span{
   position: relative;
   top: 1px;
   color: #C0C0C0;
}


.admin h3{
    font-size: 24px;
}

.admin .title{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.title-verif-operacional{
  text-align: center;
  font-weight: bold;
  color: #c0c0c0;
} 

.admin h3.title-center{
    color: #c0c0c0;
}

.admin-interfaz{
    display: grid;
    grid-template-areas: "identificacion    verificadores"
                          "identificacion     verificadores"
                          "identificacion     verificadores";
}

.identificacion.card{
    grid-area: identificacion;
    width: 350px;
    margin-right: 15px;

}


.verificadores{
  grid-area: verificadores;
}

.identificacion .card-header.iden,
.verificadores .card-header.verif{
    background: #02B7DC;
    color: white;
    font-weight: bold;
}

.flecha-responsive{
  display: none;
}



.identificacion.card , .identificacion .card-header.iden,
.verificadores.card, .card-header.verif{
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.identificacion .card-title-iden{
    font-size: 18px;
    color: #c0c0c0;
}
.identificacion form label{
    color: #292929;
    font-size: 12px;
    font-weight: bold;
}

.identificacion form div{
  margin-top: 20px;
   
}
.identificacion form input.form-admin{
    width: 80%;
    display: block;
    background: #FFFFFF;
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 17.5255px;
    outline: none;
    font-size: 12px;
}

.textaera-admin, .once-observacion textarea{
   width: 80%;
   border: 1px solid white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    outline: none;
}



.file-admin label{
display: block;
}


.input-admin label{
    display: block;
}
.input-admin select,
.input-admin input{
    font-size: 12px;
    width: 80%;
    height: 30px;
    outline: none;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          border: 1px solid white;
    padding-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 17.5255px
}

.input-admin .flechitax{
    position: relative;
    left: -30px;
       
}


.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #02B7DC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: #02B7DC;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    background: #02B7DC;
    border-color: #02B7DC;
    animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  }

.check-admin .empresa-asociada{
 line-height: 0;
 font-size: 12px;
 font-weight: bold;
}

.check-admin .checkss{
  margin-top: 0px;
 margin-left: 10px;
}

.check-admin .empresa-check{
  margin-left: -3px;
  margin-right: 15px;
}

.text-admin .ref-admin{
  font-size: 12px;
  font-weight: bold;

}


.check-1{
  margin-bottom: -15px;
  
}

.check-1 .agroup-check,
.check-2 .agroup-check{
  color: #C0C0C0;
  margin-left: -5px;
}

.label-file{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.file-input{
  display: none;
}

.input-file{
  background: #02B7DC;
  width: 120px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  color: white !important;
  cursor: pointer;
  transition: all 300ms;
}
.input-file:hover{
  background: #028da8;
}
.cuadro-admin{
  text-align: center;
  margin-left: 10px;
  width: 80%;
  border: 1px solid white;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
   font-size: 14px;
  
}

.cuadro-admin div{
 display: flex;
 justify-content: space-between;
 padding: 0px 10px;
 margin-bottom: -5px;
 font-size: 10px;
}

.cuadro-admin{
  padding-bottom: 10px;
}
.cuadro-admin .text{
  color: black;
  opacity: 0.5;
}
.cuadro-admin .number{
  font-weight: bold;
  opacity: 0.5;

}

.verificadores .title-category{
  margin-top: 50px;
  padding: 10px 0px;
  width: 100%;
  background: #02B7DC;
  text-align: center;
  font-weight: bold;
  color: white;
  border-radius: 2px;
}

.title-verif-end {
  font-size: 18px !important;
  text-align: end;
  font-weight: bold ;
  color: #C0C0C0;
}
.title-category button{
  color: white;
  text-align: center !important;
  text-decoration: none !important;
  transition: all 300ms !important;
}

.title-category-gray{
  width: 100%;
  background: #F2F4F7;
  font-weight: bold;
  border-radius: 2px;
} 
.title-category-gray button{
  color: black;
  text-decoration: none !important;
  transition: all 300ms !important;

}



.verificadores .images h6{
  margin: 10px 0;
  margin-left: 5px;
  font-size: 12px;
  color: #c0c0c0;
}
.verificadores .scroll-imgs .images img{
  padding: 10px;
}

.admin-interfaz .card-header.iden a, .admin-interfaz .card-header.verif a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.once-text{
  font-size: 10px;
}

.checks-admin{
  text-align: center;
}
.once-observacion{
  color: #c0c0c0;
  font-size: 12px;
}
.once-observacion textarea{
  width: 100%;
}


.once-checks{
  padding-top: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-areas: "check-1 check-2 input input input input";
}

.once-checks .obs-check{

  margin-left: -5px;
}
.once-checks .once-check-1{
  margin-right: 10px;
}

.once-checks .once-check-2{
  margin-left: 10px;
}

.once-checks .once-input{
  grid-area: input;
  text-align: end;
}

.once-checks .once-input input{
  
    border: 1px solid white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 17.5255px;
    outline: none;
    font-size: 12px;
    text-align: center;
    width: 200px;
}


.card-verif, .title-category{
  margin-bottom: 20px;
}

.spacex{
  margin-right: 1100px;
}

.modal-arbol{
 position: absolute;
 left: -70px;
 top: -100px;
}

.modal-header {
  width: 100%;
  background: #02B7DC;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.modal-arbol, .modal-arbol-search, .modal-arbol-input{
  font-size: 12px !important;
}

.modal-arbol-search{
  width: 350px;
  height: 32px;
}
.modal-arbol .modal-arbol-lista a{
text-decoration: none;
color: black;
}
.modal-arbol .modal-arbol-lista .modal-arbol-ul-demo li{
  margin: 2px 0px;
}

.scroll-imgs{
  overflow-y: scroll !important;
  height: 300px;
}



button span{
display: flex;
justify-content: space-between;
}

.na-button{
  color: black;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none !important;
  position: relative;
  top: -60px;
  left: 92%;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 300ms;
}

.na-button:hover{
  background-color: black;
  color: white;
}



.container-mosaikus{
padding: 10px;
padding-left: 100px;  /* TENIA 120px */ /* Para quitarlo le puse 10px */
padding-right: 55px;
}

/******** VALIDACION DE FORMULARIO ****/
.error{
  font-size: 12px;
  font-weight: bold;
  color: red;
  display: none;
}

@media screen and (max-width: 1160px){

.identificacion.card{
  width: 280px !important;
}

}

@media screen and (max-width: 450px){
  .admin-interfaz{
    display: grid;
    grid-template-areas: "identificacion"
                          "verificadores";
}

.verificadores.card, .identificacion.card{
  width: 140% !important;
  margin-left: -35px;
}
.flecha-responsive{
  display: block;
}

.flecha-responsive i{
  font-size: 24px;
  position: relative;
  top: 10px;
}
.admin-interfaz .identificacion.card .card-body,
.admin-interfaz .verificadores.card .accordion,
.spacex
{
  display: none;
}

.col.spaceRes{
  display: none;
}
.identificacion{
  width: 100%;
  margin-bottom: 20px;
}

.input-admin .select2{
  width: 80% !important;
}

.admin-interfaz .card-header.iden span, .admin-interfaz .card-header.verif span{
  position: relative;
  top: -5px;
}

.admin-interfaz .card-header.iden h5, .admin-interfaz .card-header.verif h5{
  position: relative;
  top: 5px;
}


.admin .title h3, .admin .title .vista-admin span {
  font-size: 12px;
}


.title-category h2 span{
  font-size: 10px;
}
.na-button{
  left: 85%;
}

.card-body.scroll-imgs .images img{
  width: 70px;
  margin-left: 0;
  margin-right: 0;
}
.images{
  margin-left: 15px;
}

.images h6{
  margin-top: -20px !important;
}
.scroll-imgs{
  height: 40px;
  margin-top: -20px;
  height: 100px;
}


.once-checks{
  padding-top: 10px;
  
  display: grid;
  grid-template-areas: "check-1 check-2 check-2"
                        "input . .";
}

.once-checks .once-check-1{
  grid-area: check-1;
  margin-right: -10px;
  font-size: 10px;
  width: 60%;
}

.once-checks .once-check-2{
  grid-area: check-2;
  margin-left: -50px !important;
  font-size: 10px;
}
.once-check-2 .obs-check{
  float: right;
  position: relative;
}

.once-checks .once-input{
  grid-area: input;
  text-align: start;
  margin-top: 15px;
}


}
